@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; 
*/

body {
  margin: 0;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}