/* BREAKPOINTS: from 0px to 425px */
body {
  font-size: 14;
}

.navbar {
  /* height: 2.3rem; */
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__brand {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'PT Serif', serif;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1;
  flex-grow: 1;
  text-align: center;
}

.navbar__button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
}

.navbar__toggler-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/assets/images/toggler-icon.svg);
  content: '';
}

.navbar__menu-container {
  width: 100%;
}

.navbar__menu-container--hidden {
  visibility: hidden;
  height: 0;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu__item-container {
  padding: 0.2rem 0;
  list-style: none;
}

.menu__item {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.content {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.625rem;
  margin-bottom: 1.5rem;
}

.article-card__header {
  padding: 0.75rem 1.5rem;
}

.header__heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
}

.image {
  width: 100%;
}

.article-card__body {
  line-height: 1.5;
  text-align: left;
  padding: 1.5rem;
}

.footer {
  background-color: rgba(0, 0, 0, 1);
  color: #555d65;
  text-align: center;
  padding: 1.5rem 0;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 0.9px;
}
