@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  background-color: #2b193d;
  margin: 2rem 1rem 0.5rem 1rem;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.section {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.09rem;
}
